@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["ErrorTitle"];
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["ErrorOccurredProcessing"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestId"]:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevMode"]</h3>
<p>
    @Localizer["DevModeDesc"]
</p>
<p>
    <strong>@Localizer["DevModeWarning"]</strong>
    @Localizer["DevModeDetails"]
</p>
